<h2 class="navbar-brand">
    Find City:</h2>
<form class="form">
    <!--class="dropdown"-->
    <!-- [ngStyle]="{'position':'relative'}"  -->
    <div class="dropdown-content">
        <input [value]="searchInput" id="search-input" autocomplete="off" (input)="onSearchInput($event)" type="text" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
        <a *ngFor="let loc of locations" type="text" (click)="updateSearchField($event,loc);"> {{ loc.areaName[0].value }}, {{ loc.region[0].value }}, {{ loc.country[0].value }} </a>
    </div>
</form>

<br><br><button (click)="updateTemplate($event)" class="btn " type="submit">Update</button>