<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler collapsed" [attr.aria-expanded]="dataToggle" (click)="dataToggle=!dataToggle;" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/home">InstWeather</a>

    <div [ngClass]="{'show': dataToggle==true}" class="navbar-collapse collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <span class="nav-container">
                <li [ngClass]="{'active':activeTab==Tabs.home}" class="nav-item" >
                    <a (click)="navigating($event,'/home')" class="nav-link">Home</a>
                </li>
                <li [ngClass]="{'active':activeTab==Tabs.statistics}" class="nav-item" >
                <a (click)="navigating($event,'/statistics')" class="nav-link">Statistics</a>
            </li>
            <li [ngClass]="{'active':activeTab==Tabs.about}" class="nav-item" >
                <a (click)="navigating($event,'/about')" class="nav-link">About</a>
            </li>
            </span>
        </ul>
    </div>
</nav>