/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

/* h1 {
    font-size: 250%;
    color: white;
    font-family: arial serif sans-serif;
    opacity: 1;
    font-weight: 800;
    margin-top: 2%;
    /* background-color: rgb(139, 131, 131); 
    fill-opacity: 1;
} */


/* * {
    margin: 0px;
    padding: 0px;
} */


/* body {
    color: white;
}
*/


/* body {
    background: url(../img/morning-sky.jpg) no-repeat center center fixed;
    background: url(../img/blue-7.jpg) center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */


/*
.box-container {  */


/*
    /* border-radius: 2px; */


/* background-color: whitesmoke; */


/* padding: 0.2%; */


/* background-blend-mode: unset; 
}
*/


/* html,
body {
    margin: 0;
    padding: 0;
} */

@import url(https://fonts.googleapis.com/css?family=Erica+One);
.container {
    /* margin-left: 10%; */
    margin-right: 0px;
}

body {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    height: 100vh;
    /* background: rgb(37, 108, 240); */
    background: #04396d;
    /* background: url(../img/db-bg.jpg) no-repeat center center fixed; */
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 200px;
}

#main-header {
    background: url(../img/blue-violet.jpg) no-repeat center center;
    background-size: 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding-right: 2em;
    width: 70%;
    /* text-align: center; */
    /* text-transform: uppercase; */
}

h1 {
    font-family: 'Erica One', cursive;
    font-size: 5em;
    font-weight: normal;
}

.nav-link {
    font-size: 150%;
}

#main-navbar li {
    margin-right: 30%;
}


/* header {} */