<div class="container-fluid" style="margin-top:50px">
    <h2>Choose Category to view monthy average statistics</h2>
    <div class="row">

        <div class="col-xs-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let key of allGraphKeys; let i = index;">
                    <input class="form-check-input me-1" (click)=onSelectOption($event,key) [id]="key" type="radio" name="commonList" [value]="Titles[key]" [attr.checked]="key==activeChart && key==defaultKey? '' : null">
                    <label [for]="key">{{ Titles[key] }} / Month</label>
                </li>
            </ul>
        </div>
        <div class="col-xs-8 box-container" style="margin-left: 10px;">
            <h2>{{ Titles[activeChart] }}</h2>
            <app-d3-chart [weatherData]="weatherData" [param]="activeChart"></app-d3-chart>
        </div>
    </div>
</div>