<div class="row">
    <ul class="list-group col-xs-3">
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> Cras justo odio
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> Dapibus ac facilisis in
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> Morbi leo risus
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> Porta ac consectetur ac
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> Vestibulum at eros
        </li>
    </ul>
</div>